body {
    margin: 0;
    padding: 0;
    background-color: black;
}

p {
    color: #cccccc;
    text-align: center;
    line-height: 15px;
    margin: 0;
    font-family: 'Jetbrains Mono';
    font-size: 12px;
}

a {
    color: #cccccc;
    text-decoration-color: #cccccc;
}

.logo {
    display: block;
    -webkit-filter: invert(90%);
    width: 150px;
    position: relative;
    left: 50%;
    top: -22%;
    transform: translateX(-50%);
    padding: 0;
    margin: 0;
}

.main {
    position: absolute;
    height: 235px;
    width: 300px;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-width: 1px;
    border-color: #222222;
    border-style: solid;
    background: rgba(0,0,0,0.5);
    padding: 0;
}